extends layout

block content
 .container
   h1 Add Book
   p.lead
     | Want to add a book? Fill in its details below 
     form(role='form', action='/books/add/added', method='post')
       .form-group
         label(for='book-id') Book ID 
         input.form-control(type='number', id='book-id', name='book-id', placeholder='enter the ID')
       .form-group
         label(for='book-name') Book Name   
         input.form-control(type='text', id='book-name', name='book-name', placeholder='enter the name')
       .form-group
         label(for='auth-name') Author Name   
         input.form-control(type='text', id='auth-name', name='auth-name', placeholder='enter the name')
       button.btn.btn-primary(type='submit') Submit
       &nbsp;
       a.btn.btn-default(role='button', href='/') Cancel

       
 .container
   h1 Add Book
   p.lead
     | Want to add a book? Fill in its details below 
     form(role='form', action='/books/add/added', method='get')
       .form-group
         label(for='book-id') Book ID 
         input.form-control(type='number', id='book-id', name='book-id', placeholder='enter the ID')
       .form-group
         label(for='book-name') Book Name   
         input.form-control(type='text', id='book-name', name='book-name', placeholder='enter the name')
       .form-group
         label(for='auth-name') Author Name   
         input.form-control(type='text', id='auth-name', name='auth-name', placeholder='enter the name')
       button.btn.btn-primary(type='submit') Submit
       &nbsp;
       a.btn.btn-default(role='button', href='/') Cancel